.formErrors {
  color: red;
  font-size: $textSizeXs;
  margin-bottom: 10px;
}

.form_wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  .form_input {
    height: 45px;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 40vw;
    border-radius: 10px;
    border: 1px solid #C3C3C3;
  }
  
  .form_textarea {
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 40vw;
    border-radius: 10px;
    border: 1px solid #C3C3C3;
  } 
}